body {
    background-image: url(../../images/fond\ login.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.divlogin {
    font-size: 10pt;
    background-color: #f2f1ff;
    width: 60%;
    margin: 15px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px black;
}

#idlogin {
    animation-name: adiv;
    animation-duration: 3s;

}

@keyframes adiv {
    from {
        padding-top: 100vh;

    }

    to {
        padding-top: 60vh;
    }

}
.entrer{
    width: 70%;
    border: solid 1px silver;
    border-radius: 50px;
    margin: 20px;
    padding: 5px;
    text-align: left;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
.entrer input{
    border-style: none;
    background-color: transparent;
    outline: none;
    width: 80%;
}
#eyes{
    display: none;
}
#bconnecter{
    width: 70%;
    background-color:#9a1213;
    color: #f2f1ff;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 2px #333;
    border-radius: 50px;
}
h1{
    color: #333;
    font-family: serif;
}
#user{
    color: #333;
}